.login {
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  align-items: center;
  gap: 20px;
  height: calc(100vh - 50px);
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    height: 400px;
    max-width: 400px;
    z-index: 1;

    &__img {
      display: flex;
      position: absolute;

      &__stats {
        bottom: -185px;
        z-index: 10;
        // left: 0;
      }

      &__user {
        bottom: -30px;
        z-index: 100;
        // right: 0;
      }
    }
  }
}
