.bg_green_gradient {
  background-image: #5fb671;
  background-image: radial-gradient(
      at 80% 20%,
      hsla(132, 38%, 67%, 1) 0,
      transparent 100%
    ),
    radial-gradient(at 100% 20%, hsla(133, 38%, 63%, 1) 0, transparent 100%),
    radial-gradient(at 100% 20%, hsla(132, 35%, 60%, 1) 0, transparent 100%),
    radial-gradient(at 0 100%, hsla(132, 36%, 56%, 1) 0, transparent 100%);
}

.bg_glass {
  background-color: #ffffff2f;
  backdrop-filter: blur(12px);
}

.bg_darkglass {
  background-color: #1817172f;
  backdrop-filter: blur(40px);
}
