:root {
  --color-primary: teal;
  --color-secondery: rgb(0, 255, 76);
  --color-gradient-primary: radial-gradient(
      at 23% 21%,
      rgb(114 249 255) 0,
      transparent 100%
    ),
    radial-gradient(at 80% 69%, rgb(141 255 250) 0, transparent 100%);
  --color-gradient-secondery: radial-gradient(
      at 80% 20%,
      hsla(132, 38%, 67%, 1) 0,
      transparent 100%
    ),
    radial-gradient(at 100% 20%, hsla(133, 38%, 63%, 1) 0, transparent 100%),
    radial-gradient(at 100% 20%, hsla(132, 35%, 60%, 1) 0, transparent 100%),
    radial-gradient(at 0% 100%, hsla(132, 36%, 56%, 1) 0, transparent 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body::-webkit-scrollbar {
  visibility: hidden;
  width: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.bg_green_gradient {
  background-image: #5fb671;
  background-image: radial-gradient(
      at 80% 20%,
      hsla(132, 38%, 67%, 1) 0,
      transparent 100%
    ),
    radial-gradient(at 100% 20%, hsla(133, 38%, 63%, 1) 0, transparent 100%),
    radial-gradient(at 100% 20%, hsla(132, 35%, 60%, 1) 0, transparent 100%),
    radial-gradient(at 0 100%, hsla(132, 36%, 56%, 1) 0, transparent 100%);
}

.bg_glass {
  background-color: #ffffff2f;
  backdrop-filter: blur(12px);
}

.bg_darkglass {
  background-color: #1817172f;
  backdrop-filter: blur(40px);
}

.text_gradient {
  color: transparent;
  background-image: #dfff99;
  background-image: var(--color-gradient-primary);
  -webkit-background-clip: text;
  text-shadow: 2px 4px 10px rgb(3 72 63 / 50%);
}

.text_gradient_sm {
  color: transparent;
  background-image: #fce251;
  background-image: radial-gradient(at 23% 21%, #d9f075 0, transparent 100%),
    radial-gradient(at 80% 69%, hsla(25, 66%, 79%, 1) 0, transparent 100%);
  -webkit-background-clip: text;
  text-shadow: 2px 2px 5px rgba(78, 155, 117, 0.274);
}

.visa__gradient {
  background-image: #fcff99;
  background-image: radial-gradient(
      at 17% 59%,
      rgba(243, 226, 130, 0.548) 0,
      transparent 53%
    ),
    radial-gradient(at 25% 90%, hsla(20, 97%, 63%, 1) 0, transparent 58%),
    radial-gradient(at 26% 95%, hsla(15, 92%, 61%, 1) 0, transparent 47%),
    radial-gradient(at 46% 90%, #fdca90 0, transparent 53%),
    radial-gradient(at 59% 97%, hsla(273, 86%, 67%, 1) 0, transparent 58%),
    radial-gradient(at 73% 17%, hsla(28, 62%, 69%, 1) 0, transparent 40%),
    radial-gradient(at 98% 18%, hsla(12, 73%, 66%, 1) 0, transparent 46%);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 8px 12px;
  border: none;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 6px 45px rgba(54, 54, 54, 0.304);
  transition: 0.4s ease-in-out;
}

@media (min-width: 500px) {
  .button {
    padding: 10px 30px;
    border-radius: 8px;
  }
}

.button:active {
  background-color: rgba(255, 255, 255, 0.504);
  box-shadow: none;
  transform: translateY(10px);
}

.button:focus {
  outline: 0;
}

.alert__inner {
  backdrop-filter: blur(40px);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  max-width: 450px;
  min-height: 400px;
  z-index: 1110;
}

.cancel {
  background-color: red;
}

.confirm {
  background-color: var(--color-secondery);
}

.loader {
  width: 150px;
  height: 150px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 50%;
  animation: spin 0.7s ease-in infinite 0s forwards;
  margin: 20px auto;
}

.icon {
  min-width: 30px;
  min-height: 30px;
  font-size: 30px;
  filter: drop-shadow(2px 2px 5px #00000045);
  border: 0.2px solid#fff;
  border-radius: 30px;
  padding: 5px;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% {
    transform: rotateY(180deg) rotateX(180deg) translateX(0) translateY(0);
  }

  30% {
    transform: rotateY(180deg) rotateX(180deg) translateX(0) translateY(10px);
  }

  70% {
    transform: rotateY(180deg) rotateX(180deg) translateX(0) translateY(-10px);
  }

  100% {
    transform: rotateY(180deg) rotateX(180deg) translateX(0) translateY(0);
  }
}

@keyframes float1 {
  0% {
    transform: translateX(0) translateY(0);
  }

  33% {
    transform: translateX(0) translateY(20px);
  }

  70% {
    transform: translateX(0) translateY(-20px);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes float3 {
  0% {
    transform: translateX(0) translateY(0);
  }

  33% {
    transform: translateX(-20px) translateY(20px);
  }

  70% {
    transform: translateX(20px) translateY(0);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes float2 {
  0% {
    transform: translateX(0) translateY(0);
  }

  33% {
    transform: translateX(20px) translateY(-20px);
  }

  70% {
    transform: translateX(20px) translateY(0);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

.rounded-xl {
  border-radius: 30px;
}

.rounded-sm {
  border-radius: 15px;
}

.shadow-xl {
  box-shadow: 0 0 30px #27272733;
}

.shadow-sm {
  box-shadow: 0 0 10px #5a5a5a33;
}

.text-shadow-sm {
  text-shadow: 1px 1px 5px #00000033;
}

.text-white {
  color: #fff;
}

.text-2xl {
  font-size: 30px;
}

.text-xl {
  font-size: 23px;
}

.text-md {
  font-size: 18px;
}

.text-sm {
  font-size: 15px;
}

.uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 900;
}

.text-slim {
  font-weight: 100;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.z-1 {
  z-index: 1;
}

.z-5 {
  z-index: 5;
}

.z-10 {
  z-index: 10;
}

.z-100 {
  z-index: 100;
}

.z-1000 {
  z-index: 1000;
}

.transparent {
  background: 0 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.grid-cols-12 {
  grid-template-columns: 12;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-50 {
  gap: 50px;
}

.gap-70 {
  gap: 70px;
}

.p-50 {
  padding: 50px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-50 {
  padding-bottom: 50px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

#App {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--color-primary);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 15px 0;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #00a7a7bd;
  backdrop-filter: blur(30px);
}

.sticky .container {
  padding: 10px 0;
}

.brand {
  font-size: 17px;
  gap: 5px;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #fff;
}

.brand__logo {
  width: 30px;
}

.Primary__menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  z-index: -2;
}

.Primary__menu {
  margin-left: auto;
  position: fixed;
  top: -400px;
  visibility: hidden;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 128, 128, 0.579);
  z-index: 10;
  backdrop-filter: blur(20px);
  transition: 0.7s ease-in-out;
  flex-direction: column;
}

.Primary__menu.active {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.Primary__menu a {
  font-size: 16px;
  font-weight: 100;
}

.header .Primary__menu .login__button {
  display: flex;
  padding: 6px 25px;
}

.menu-bar {
  z-index: 11;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: 0.7s ease-in-out;
}

.menu-bar.active {
  position: fixed;
  right: 20px;
  transform: rotate(-180deg) translate(28%);
}

.bar {
  width: 25px;
  height: 2px;
  display: block;
  background-color: #fff;
  transition: 0.8s ease-in-out;
}

.top.active {
  transform: rotate(-45deg) translate(-28%);
  transition: 0.8s ease-in-out;
}

.bottom.active {
  transform: rotate(45deg) translate(-28%);
  transition: 0.8s ease-in-out;
}

.close__account__modal,
.logIn__modal,
.newPassword__modal,
.reset__modal,
.signUp__modal {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.modal__inner {
  backdrop-filter: blur(40px);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  max-width: 450px;
  min-height: 400px;
  z-index: 1110;
}

.alert__inner::after,
.modal__inner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  border-radius: 15px;
  z-index: -1;
  background-image: #fcff99;
  background-image: radial-gradient(
      at 17% 59%,
      hsla(74, 82%, 73%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 25% 90%, hsla(20, 97%, 63%, 1) 0, transparent 58%),
    radial-gradient(at 26% 95%, hsla(15, 92%, 61%, 1) 0, transparent 47%),
    radial-gradient(at 46% 90%, #fdca90 0, transparent 53%),
    radial-gradient(at 59% 97%, hsla(273, 86%, 67%, 1) 0, transparent 58%),
    radial-gradient(at 73% 17%, hsla(28, 62%, 69%, 1) 0, transparent 40%),
    radial-gradient(at 98% 18%, hsla(12, 73%, 66%, 1) 0, transparent 46%);
}

.logIn,
.newPassword,
.reset,
.signUp {
  width: 100%;
  gap: 20px;
  z-index: 100;
  max-width: 500px;
}

input {
  width: 100%;
  background-color: transparent;
  border: none;
  box-shadow: 1px 1px 15px #54545421 inset;
  padding: 7px 25px;
  border-radius: 10px;
  color: #fff;
  letter-spacing: 4px;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}

input:focus {
  outline: 0;
  filter: drop-shadow(2px 3px 3px rgba(90, 90, 90, 0.5));
}

input::placeholder {
  color: rgba(255, 255, 255, 0.411);
}

.button__form__logIn,
.button__form__newPassword,
.button__form__reset,
.button__form__signUp {
  width: 100%;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  backdrop-filter: blur(15px) saturate(90%);
  cursor: not-allowed;
}

.cookie-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  widows: 100%;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 20px;
  max-width: 800px;
  margin: 15px auto 0;
  top: 10px;
  left: 20px;
  right: 20px;
}

.hidden {
  display: none;
}

.section {
  transition: 0.5s ease-in-out;
}

.section__hidden {
  opacity: 0;
  transform: translateY(50px);
}

.welcome {
  padding-top: 80px;
}

.welcome__titles {
  text-align: center;
  flex-basis: 60%;
  max-width: 500px;
  margin: 0 auto;
}

.welcome__title {
  margin-bottom: 30px;
}

.highlight {
  position: relative;
  color: #003c5f;
  padding: 0 10px;
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.753);
}

.highlight::after {
  z-index: -3;
  transform: skew(-15deg);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--color-gradient-primary);
  text-transform: uppercase;
}

.welcome__subtitle {
  margin-bottom: 30px;
  max-width: 400px;
}

.welcome__buttons {
  gap: 30px;
  justify-content: space-evenly;
}

.welcome .signUp__button {
  max-width: 330px;
  z-index: 3;
}

.welcome__image {
  flex-basis: 30%;
  margin: 80px auto;
  width: 80%;
  max-width: 500px;
  order: 2;
  position: relative;
}

.welcome__image .ikbal5 {
  z-index: 2;
  animation: float1 17s ease-in-out infinite;
}

.welcome__image .other06 {
  position: absolute;
  top: -80px;
  z-index: 1;
  animation: float2 17s ease-in-out infinite;
}

.welcome__image .other01 {
  position: absolute;
  z-index: 1;
  bottom: -80px;
  animation: float3 17s ease-in-out infinite;
}

.welcome__image img {
  max-width: 400px;
  width: 100%;
  filter: drop-shadow(0 65px 35px #46464680);
}

.features__feature {
  flex-direction: column;
}

.feature__img {
  object-fit: scale-down;
}

.lazy_load {
  object-fit: initial;
  filter: blur(5px) saturate(180%);
}

.operations__tab--active {
  background-color: rgba(255, 255, 255, 0.164);
  box-shadow: none;
  transform: translateY(5px);
}

.slider_container,
.white__board {
  max-width: 800px;
  min-height: 300px;
  width: 100%;
}

.testimonial,
.white__board__container {
  min-height: 320px;
}

.slider_container {
  position: relative;
  min-height: 350px;
  overflow: hidden;
}

.slide {
  position: absolute;
  transition: transform 1s;
}

.testimonial::before {
  content: "\201C";
  position: absolute;
  bottom: -10px;
  right: 20px;
  line-height: 1;
  font-size: 170px;
  font-family: inherit;
  color: transparent;
  background-image: var(--color-gradient-primary);
  -webkit-background-clip: text;
  text-shadow: 14px -5px 18px #0000004a;
  z-index: -1;
  animation: float 12s ease-in-out infinite;
  transform: rotateY(180deg) rotateX(180deg);
}

.dots__dot {
  justify-self: center;
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot--active {
  background-color: #fff;
}

.author__photo {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.user {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.section__users__body {
  gap: 20px;
  justify-content: center;
}

.user__card {
  width: 100%;
  max-width: 300px;
  flex-wrap: wrap;
  justify-content: center;
}

.user__card__body {
  width: 100%;
  gap: 20;
}

.footer .container {
  border-top: 1px solid;
  padding: initial;
}

.app__body {
  padding: 50px 0;
}

.profile__bar {
  border-radius: 0;
  position: sticky;
  top: 0;
  max-height: 70px;
}

.profile__info {
  position: relative;
}

.profile__image {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
}

.profile__menu {
  width: 280px;
  min-height: 400px;
  position: absolute;
  z-index: 10;
  left: 0;
  top: -140px;
  opacity: 0;
  visibility: hidden;
  border-radius: 0 0 15px 15px;
  box-shadow: 2px 3px 6px #46464618;
  transition: 0.3s ease-in;
}

.profile__name {
  border-bottom: 1px solid #fff;
}

.greet {
  display: none;
}

.balance__info {
  flex-direction: column;
}

.balance {
  text-align: center;
  font-size: 20px;
  border: 1px solid#fff;
  background: 0 0;
  backdrop-filter: blur(25px);
}

.balance:focus {
  outline: 0;
}

.check__balance {
  z-index: 4;
}

.balance__info {
  margin-left: auto;
}

.balance__info-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.balance__info-container.active {
  top: 70px;
  opacity: 1;
  visibility: visible;
  background-color: teal;
}

.balance__titles {
  text-align: center;
}

.notification {
  position: relative;
}

.notification__icon {
  font-size: 30px;
  filter: drop-shadow(2px 2px 5px #00000045);
  border: 0.2px solid#fff;
  border-radius: 30px;
  padding: 5px;
}

.notification__menu {
  max-height: 400px;
  position: absolute;
  z-index: 10;
  right: 0;
  top: -340px;
  opacity: 0;
  visibility: hidden;
  border-radius: 0 0 15px 15px;
  width: 100%;
  box-shadow: -2px 3px 6px #46464618;
  transition: 0.3s ease-in;
}

.notification__container {
  min-height: 350px;
  overflow-y: scroll;
}

.notification__container::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
}

.notification__container::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}

.notification__item {
  min-height: min-content;
  width: 100%;
  transition: 0.3s ease-in-out;
  cursor: all-scroll;
}

.notification__item:hover {
  text-shadow: 1px 5px 8px #29292960;
}

.notification__menu::after,
.profile__menu::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  z-index: -2;
  background-color: teal;
}

.profile__menu.active {
  opacity: 100;
  visibility: visible;
  top: 70px;
}

.notification__menu.active {
  opacity: 100;
  visibility: visible;
  top: 70px;
}

.visa__card {
  width: 100%;
  max-width: 370px;
  height: clamp(180px, 10vh, 220px);
}

.visa__card__number {
  letter-spacing: 0;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  box-shadow: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

.transactions__container {
  max-height: 395px;
  cursor: all-scroll;
  overflow-y: scroll;
}

.transactions__container::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

.transactions__container::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}

.transaction__info {
  width: 100%;
  max-width: 350px;
}

.deposit__info,
.send__money__info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.deposit__info::after,
.send__money__info::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: teal;
}

.card__head h2 {
  font-size: 22px;
}

.overview {
  min-height: 300px;
}

.overview__body {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  grid-template-rows: repeat(4, minmax(30px, 1fr));
}

.overview__body div {
  display: flex;
  padding: 20px 15px;
  box-shadow: 1px 1px 15px #54545421 inset;
  align-items: center;
  justify-content: space-between;
}

.deposit__activity {
  background-color: #53ff6a;
  padding: 7px 16px;
  border-radius: 15px;
}

.withdraw__activity {
  background-color: rgba(255, 37, 37, 0.726);
  padding: 7px 16px;
  border-radius: 15px;
}

.activity__title h2 {
  font-size: 22px;
}

.activity__value {
  min-width: max-content;
}

.sort:active {
  box-shadow: none;
  transition: 0.3s ease-in-out;
}

.close__account,
.deposit__money,
.send__money {
  height: 280px;
  width: 100%;
}

@media (max-width: 499px) {
  .sm-text-center {
    text-align: center;
  }

  .sm-content-center {
    align-items: center;
    text-align: center;
  }

  .slider {
    flex-direction: column-reverse;
  }
}

@media (min-width: 500px) {
  .text-xl {
    font-size: 30px;
  }

  .text-md {
    font-size: 20px;
  }

  .text-sm {
    font-size: 18px;
  }

  .section {
    padding: 80px 0;
  }

  .section__titles {
    padding-bottom: 50px;
  }

  .logIn,
  .newPassword,
  .reset,
  .signUp {
    max-width: 500px;
    padding: 0 50px;
  }

  .welcome__titles {
    order: 0;
  }

  .welcome__title {
    font-size: clamp(15px, 10vw, 40px);
  }

  .welcome__subtitle {
    font-size: 18px;
  }

  .welcome__image .other06 {
    left: -80px;
  }

  .welcome__image .other01 {
    right: -80px;
  }

  .welcome__buttons {
    gap: 30px;
  }

  .feature__discription {
    max-width: 450px;
  }

  .white__board__container {
    padding: 30px;
  }

  .testimonial {
    padding: 30px;
  }

  .user__card {
    flex-wrap: wrap;
  }

  .user__card__body {
    max-width: 200px;
    width: auto;
    min-width: 250px;
  }

  .balance {
    width: fit-content;
  }

  .balance__info {
    margin-left: auto;
    flex-direction: row;
  }

  .notification__menu {
    width: 380px;
  }

  .visa__card {
    min-width: 400px;
    min-height: 255px;
  }

  .visa__card__holder {
    font-size: 25px;
  }

  .visa__card__number {
    letter-spacing: 4px;
  }

  .close__account,
  .deposit__money,
  .send__money {
    max-width: 400px;
  }

  .overview__body {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: repeat(2, minmax(30px, 1fr));
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .welcome__titles {
    order: 0;
  }

  .welcome .signUp__button {
    z-index: 3;
  }

  .brand {
    font-size: 20px;
  }

  .section__titles {
    max-width: 800px;
    margin: 0 auto;
  }

  .section__titles h2 {
    font-size: 45px;
  }

  .features {
    gap: 0;
  }

  .feature__2 .feature__img {
    order: 2;
  }

  .features__feature {
    flex-direction: row;
    gap: 70px;
    background: 0 0;
  }

  .feature__img {
    flex-basis: 50%;
    width: 45%;
  }

  .feature__info {
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
  }

  .button__group {
    gap: 30px;
  }

  .white__board__container {
    padding: 50px 100px;
  }

  .white__board__head {
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }

  .testimonial {
    padding: 50px 100px;
  }

  .testimonial::before {
    bottom: -30px;
    font-size: 20rem;
  }

  .section__users__body {
    gap: 50px;
  }

  .operations {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .greet {
    display: flex;
  }

  .check__balance {
    display: none;
  }

  .balance__info-container {
    position: relative;
    background: 0 0;
    top: 0;
    opacity: 1;
    visibility: visible;
    z-index: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .balance__titles {
    text-align: left;
  }

  .account__view {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .overview {
    max-width: 600px;
    min-height: 400px;
    max-height: 600px;
  }

  .activity {
    max-width: 600px;
    min-height: 400px;
    max-height: 600px;
  }

  .transactions__container {
    max-height: 245px;
  }
}

@media (min-width: 980px) {
  .section {
    padding: 100px 0;
  }

  .section__titles {
    padding-bottom: 80px;
  }

  .Primary__menu::after {
    backdrop-filter: none;
  }

  .Primary__menu {
    position: relative;
    top: 0;
    opacity: 1;
    visibility: visible;
    width: auto;
    height: initial;
    background: 0 0;
    z-index: initial;
    flex-direction: row;
    backdrop-filter: none;
  }

  .menu-bar {
    display: none;
  }

  .welcome__container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 600px;
  }

  .welcome__titles {
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    order: 2;
    max-width: 800px;
    margin: initial;
  }

  .welcome__title {
    font-size: clamp(15px, 10vw, 60px);
  }

  .welcome__subtitle {
    font-size: clamp(13px, 4vw, 22px);
  }

  .welcome__buttons {
    gap: 50px;
    justify-content: start;
  }

  .welcome .signUp__button {
    width: 300px;
  }

  .profile__bar {
    border-radius: 0 0 15px 15px;
    transition: 0.3s ease-in-out;
  }

  .profile__bar.left {
    border-radius: 0 0 15px 0;
  }

  .profile__bar.right {
    border-radius: 0 0 0 15px;
  }
}
